/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

  --fontColor: #3d1e1c;
  --bodyColor: white;
  --buttonColor: #f0f0f0;
  --bread: #9c805b;
  --border: #745c3d38;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--fontColor);
  background-color: var(--buttonColor);
}

a {
  text-decoration: none;
  color: var(--bread);
}

#root {
  padding-top: 60px;
  padding-bottom: 120px;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--bread);
}

h1 {
  font-weight: 500;
}
h2 {
  font-weight: 400;
}
h3 {
  font-weight: 300;
}
p {
  font-weight: 300;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/*

_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ Navigation _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 


*/
header {
  display: flex;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bodyColor);
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid var(--border);
  z-index: 1;
}

#logo {
  width: 40px;
  fill: #2d1a18 !important;
}

#breddit {
  font-size: 25px;
  margin: 0;
  font-family: "Roboto Slab", serif;
  color: var(--fontColor);
}

#groupList {
  background: none;
  border: none;
  border-radius: 4px;
  position: relative;
  padding: 5px;
  z-index: 1;
}

#groupList:hover,
#groupList:active {
  background-color: var(--buttonColor);
  border-radius: 3px;
}

#groupList h3 {
  color: var(--bread);
}

#groupList ul {
  list-style: none;
  position: absolute;
  right: 0;
  top: 35px;
  padding: 2px 5px;
  border-radius: 4px;
  width: 150px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--bodyColor);
  border: 1px solid var(--border);
  transition: 0.2s;
}

#groupList li {
  padding: 4px;
  margin: 4px 0;
  border-radius: 2px;
}

#groupList li:hover,
#groupList li:active {
  background-color: var(--buttonColor);
}

#groupList li a {
  display: inline-block;
  width: 100%;
}

#allGroups {
  border-top: 1px solid var(--bread);
  padding: 8px 4px !important;
  margin-top: 8px !important;
}

#allGroups:hover {
  background-color: initial !important;
}

#allGroups:hover a {
  text-decoration: underline;
}

.navButtons {
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  width: 100%;
  justify-content: space-evenly;
  height: 40px;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 13.33px 13.33px 13.33px;
  text-align: center;
  background-color: var(--bodyColor);
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.123);
}

.navButtons > * {
  line-height: 40px;
  transition: 0.2s;

  /* Prevent blue highlight */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.navButtons .all {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  font-size: 25px;
  /* border-top-left-radius: 10px; */
}

.navButtons .feed {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  font-size: 25px;
}

.navButtons .accountButton {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  z-index: 0;
  padding: 0;
  border: none;
  /* border-top-right-radius: 10px; */
  font-size: 25px;
  background-color: var(--bodyColor);
  color: var(--bread);
}

.navButtons .account {
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  line-height: unset;
  position: relative;
  top: -102px;
  transition: 0.3s ease;
  z-index: -1;
  height: max-content;
  background-color: var(--bodyColor);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid var(--border);
  border-bottom: none;
}

.navButtons .account.hide {
  position: relative;
  top: 65px;
  transition: 0.4s ease;
}

.account a {
  padding: 5px 0;
  font-size: 18px;
}

.navButtons .profile {
  padding-top: 10px;
}

.navButtons .logout {
  padding-bottom: 20px;
}

.curAll .navButtons .all,
.curFeed .navButtons .feed,
.curAccount .navButtons .accountButton {
  background-color: var(--buttonColor);
  transition: 0.2s;
}

/*

_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _Posts _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 


*/

.feedPost {
  list-style: none;
  background-color: var(--bodyColor);
  border: 1px solid var(--border);
  border-radius: 4px;
  margin-bottom: 10px;
  width: 90%;
  padding:10px;
  margin: 20px auto;
}

.edited {
  color: var(--bread);
}

.postBody {
  word-wrap: break-word;
}

.points {
  display: flex;
  width: max-content;
  flex-direction: column;
  align-items: center;
}

.points span {
  font-size: 25px;
}

.upvote,
.downvote {
  background: none;
  border: none;
  font-size: 35px;
  color: rgb(190, 190, 190);
}

.upvoted .upvote {
  color: var(--bread);
}

.downvoted .downvote {
  color: var(--bread);
}

.validationInfo {
  /* position: absolute; */
  background-color: black;
  color: white;
  font-size: 14px;
}

#endOfPage {
  display: flex;
  justify-content: center;
}

#endOfPage img {
  width: 30px;
  opacity: 0.5;
}

.indent {
  margin-left: 30px;
}

.showMore {
  width: 230px;
  height: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.showMore .open {
  width: 210px;
  height: 2px;
  background-color: black;
  border: none;
  cursor: pointer;
}
