body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.feedPost {
  border: 1px solid red;
  margin-bottom: 10px;
}

.upvoted .upvote {
  color: red;
}

.downvoted .downvote {
  color: blue;
}

.hidden {
  display: none;
}

.validationInfo {
  /* position: absolute; */
  background-color: black;
  color: white;
  font-size: 14px;
}